{% block head_scripts %}
<script type="module" src="/kb/static/insertadmin.js"></script>
<script type="module" src="/mr_kb/static/js/kb-manager.js"></script>
{% endblock %}

{% block content %}
<details>
  <summary><span class="material-icons">library_books</span>
  <span>Knowledge Base</span>
  </summary>
  <div class="details-content">
    <knowledge-base-manager theme="dark" scope="local"></knowledge-base-manager>
  </div>
</details>
{% endblock %}
